<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TIMER-APP</title>
    <link rel="stylesheet" href="/style.css" />
    <nav class="navbar1" align="center">
      <a href="/timer.html">Live Time</a>

      <a href="alarm.html">Alarm</a>

      <a href="pray.html">Pray Time</a>
    </nav>
  </head>
  <body>
    <div class="jam-digital">
      <h1>Jam Digital</h1>
      <div id="jam"></div>
      <div id="unit">
        <span>Jam</span>
        <span>Menit</span>
        <span>Detik</span>
      </div>
    </div>
  </body>
  <script src="time.js"></script>
</html>
